apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: promtail-grafana-cloud
  namespace: monitoring
  labels:
    app: promtail-grafana-cloud
spec:
  selector:
    matchLabels:
      app: promtail-grafana-cloud
  template:
    metadata:
      labels:
        app: promtail-grafana-cloud
    spec:
      serviceAccountName: loki-promtail
      containers:
      - name: promtail
        image: grafana/promtail:2.9.0
        args:
        - -config.file=/etc/promtail/promtail.yaml
        volumeMounts:
        - name: config
          mountPath: /etc/promtail
        - name: run
          mountPath: /run/promtail
        - name: varlog
          mountPath: /var/log
        - name: varlibdockercontainers
          mountPath: /var/lib/docker/containers
          readOnly: true
        env:
        - name: HOSTNAME
          valueFrom:
            fieldRef:
              fieldPath: spec.nodeName
        ports:
        - containerPort: 3101
          name: http-metrics
        securityContext:
          runAsGroup: 0
          runAsUser: 0
        resources:
          limits:
            memory: 256Mi
            cpu: 200m
          requests:
            memory: 128Mi
            cpu: 100m
      volumes:
      - name: config
        configMap:
          name: promtail-config
      - name: run
        emptyDir: {}
      - name: varlog
        hostPath:
          path: /var/log
      - name: varlibdockercontainers
        hostPath:
          path: /var/lib/docker/containers
